
.header {
    background-color: rgb(78, 97, 245);
    border: darkblue;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 3px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Textboxes {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
}


.Textbox1 {
    float: left;
    width: 500px;
    background-color: rgba(0, 136, 169, 0.7);
    border: none;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    margin-left: 40px;
}

.Textbox1:hover {
    background-color: rgba(0, 136, 169, 0.1);
    transition: all 0.3s ease 0s;
}


.Textbox2 {
    float: left;
    width: 500px;
    background-color: rgba(0, 136, 169, 0.7);
    border: none;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    margin-left: 30px;
}

.Textbox2:hover {
    background-color: rgba(0, 136, 169, 0.1);
    transition: all 0.3s ease 0s;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #073c49;
}

button {
    padding: 9px, 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 500px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.7);
}
