
.top{
    width: 400px;
}

@media only screen and (max-width: 600px) {
    .top{
        width: 300px;
    }
  }

.top table {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

